/*************************************************************
                    RESPONSIVES
**************************************************************/
/*RESPONSIVE DEL INDEX*/
@media screen and (max-width: 1023px) {
    .index_hijo1{
        background-color: #BDECB6;
        display: flex;  
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
        width: auto;
        height: 1000px;
        padding: -3%;
    }

    .index_hijo2{
        background-color: #84C3BE;
        display: flex;  
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
        width: 94%;
        height: 1000px;
        padding-left: -3%;
    }

    .index_tamañoDeImagen{
    height: 200px;
}

    @keyframes cuadrado{
    }
    @keyframes rotar {
    }

    .index_texto1{
    width: 100%;
    }
    .index_texto1:hover{
        transform: scale(1,1);
    }
}

/*RESPONSIVE DEL HEADER DE OTRAS PAGINAS */
@media screen and (max-width: 1200px){
    .nav_hijo2{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .nav_hijo{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: rgba(212, 212, 212,0.8);
        width: 200px;
    }
}


/*RESPONSIVE DEL INDEX*/
@media screen and (max-width: 1023px) {
    .index_hijo1{
        background-color: #BDECB6;
        display: flex;  
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
        width: auto;
        height: 1000px;
        padding: -3%;
    }

    .index_hijo2{
        background-color: #84C3BE;
        display: flex;  
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
        width: 94%;
        height: 1000px;
        padding-left: -3%;
    }

    .index_tamañoDeImagen{
    height: 200px;
}

    @keyframes cuadrado{
    }
    @keyframes rotar {
    }

    .index_texto1{
    width: 100%;
    }
    .index_texto1:hover{
        transform: scale(1,1);
    }
}