//============================================================
                    //COLORES
//============================================================

$color_verde_claro: #BDECB6;
$color_celeste: #84C3BE;
//Va cambiando de una pagina a la otra.
$color_seccion_1: mistyrose;
$color_seccion_2: cornsilk;

//============================================================
                    //MARGENES
//============================================================
/*
$tam_margin-left: 18%;
$tam_margin-bottom: 5%;
$tam_margin-right: 15%;
$tam_padding: 1%;*/