//============================================================
                    //COLORES
//============================================================

$color_verde_claro: #BDECB6;
$color_celeste: #84C3BE;
//Va cambiando de una pagina a la otra.
$color_seccion_1: #84C3BE;
$fondo: #12597e;

