/*VOY A HACER TODO CON SASS*/
*{
    margin: 0;
    padding: 0;
}

@import "responsive";
@import "variables";
/*GENERAL*/

body{
   font-family: 'Roboto', sans-serif;   
}

h1{
    text-align: center;
    font-size: 400%;
    background-image: linear-gradient(to top, rgb(4, 235, 223), cyan);
    padding-top: 0vh;
    margin-bottom: 5%;
}

h2{
    color:black;
    text-align: center;
    font-size: 250%;
}

h3{
    font-size: 180%;
    text-align: center;
}

p{
    font-size: 130%; 
    text-align: justify;
}

.cursiva{
   font-family: 'MonteCarlo', cursive;
}

/*====================================================================
    FALTA RESPONSIVE
====================================================================*/

/*************************************************************
                    HEADER INDEX
*************************************************************/
.nav_padreFlex{ 
    height: 30vh;
    display: grid;
    grid-template-areas: 
    "logo enlace"
    "fondo fondo";
    background-image: linear-gradient(to top, white , gray); 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70vh;
    .nav_hijo1_enlace{
        grid-area: enlace;
        height: 150px;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 50%;
        margin-left: 13%;
        height: 30vh;
        li a{
            text-decoration: none;
            color: rgb(48, 46, 46);
            font-family: fantasy;
            font-size: 175%;
            padding: 5px;
            }
        li a:hover{
            color: blue;
            text-decoration: underline;
            background-color: rgb(212, 212, 212);
            }
    }
    .nav_hijo2_logo{
        grid-area: logo;
        line-height: 70px; 
        color: black;
        height: 150px;
        width: 300px;
        padding-left: 35px;
        padding-top: 15px;
        font-size: 300%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #d9e4f5 20%, #f5e3e6 84%);
    }
    /*ANIMACIOM*/
    .nav_hijo2_logo{  
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
        
    }
    @keyframes logo {
    20% {
        color: red;
    }
    40%{
        color: #ff7e00;
    }
    60%{
        color: green;
    }
    80%{
        color: blue;
    }
    100% {
        color: black;
    }
    }

    .nav_hijo3_fondo{
        grid-area: fondo;
        background-image: url(../../imagenes/fondos/fondo.png);
        height: 70vh;
        background-size: cover;
        width: 100%;
    }
}

/************************************************************
               HEADER OTRAS PAGINAS
************************************************************/

.nav_conteiner{
    width: 100%;
    height: 10vh;
    display: flex;
    background-image: linear-gradient(to top, white , gray);
    flex-direction: row;

    /*enlaces*/
    .nav_hijo1{
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-right: 10px;
        padding-top: 15px;

        li a{
            text-decoration: none;
            color: rgb(48, 46, 46);
            font-family: fantasy;
            font-size: 150%;
            padding: 5px;
            }

        li a:hover{
            color: blue;
            text-decoration: underline;
            background-color: rgb(212, 212, 212);
        }
    }
    
    /*logo*/
    .nav_hijo2{ 
    line-height: 70px; 
    color: black;
    margin-top: 11vh;
    height: 170px;
    width: 340px;
    padding-left: 25px;
    padding-top: 7,5px;
    padding-bottom: 7,5px;
    font-size: 300%;
    background-color: rgb(233, 229, 229);
    border: solid red 5px;
    background-image: linear-gradient(315deg, #d9e4f5 20%, #f5e3e6 84%);          
    }
    .nav_hijo2{
    animation-duration: 10s;
    animation-name: logo;
    animation-iteration-count: infinite;
    }
}

/**************************************************************
                   FOOTER
**************************************************************/
#footer{
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid 2px black;
    background-image: linear-gradient(to bottom, gray ,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .footer_hijo1{  

        p{
            color: orange;
            text-decoration: underline;
            font-size: 160%;   
        }
        .footer_acomodar{
            margin-bottom: -7px;
            margin-left: 30px;
        }
        ul{       
            list-style-position: outside;
            padding: 5px;
            a{
                list-style: none;  
                text-decoration: none;
                color: pink;
                font-size: 120%;
            }
            a:hover{
                text-decoration: underline;
                background:  rgb(219, 21, 54);
                font-size: 120%;
            }
        }
    }
    
    .footer_hijo2{ 
        line-height: 70px; 
        color: black;
        height: 150px;
        width: 300px;
        padding-left: 50px;
        padding-top: 15px;
        font-size: 270%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #9fb7da 20%, #ecd0d6 84%);

        /*animacion*/
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }

    .footer_hijo2_1{
         line-height: 70px; 
        color: black;
        height: 180px;
        width: 375px;
        padding-left: 50px;
        padding-top: 15px;
        font-size: 270%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #9fb7da 20%, #ecd0d6 84%);

        /*animacion*/
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }

    
/*===========================================================
    Ver si lo cambio por los iconso que cambia de color.            
===========================================================*/
    .footer_hijo3{
        color: rgb(201, 190, 190);

        .footer_centrado{
            text-align: center;
            text-decoration: underline;
            font-size: 170%;
            padding-bottom: 2%;
        }

        .footer_reducirTamaño{
            height: 70px;
        }
    }
}

/***********************************************************
                        INDEX
************************************************************/

.index_padre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .index_hijo1{
        background-color: $color_verde_claro;
        display: flex;  
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;

        .index_imagenRedonda{
            border-radius: 50%;
        }
        .index_imagenRedonda:hover{
            animation-name: cuadrado;
            animation-duration: 2.5s;
            animation-timing-function: linear;
        }
    
        @keyframes cuadrado{
        0%{
            border-radius: 50%;}
        50%{
            border-radius: 0%;}
        100%{
            border-radius: 50%;}
        } 
    }

    .index_hijo2{
        background-color: $color_celeste;
        display: flex;  
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        text-decoration: none;
        color: black;
        flex-wrap: wrap;

        .index_imagenCuadrada:hover{
            animation-name: rotar;
            animation-duration: 2.5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }

        @keyframes rotar {
        0%{
            transform: rotate(0deg);}
        50%{
            transform: rotateZ(20deg);}
        100%{
            transform: rotateZ(0deg);}
        }
    }
    .index_hijo3{
        background-color: $color_verde_claro;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
        flex-wrap: wrap;

        .index_negrita{
            font-size: 250%;
            font-weight: bold;
            text-align: center;
        }
    }

    .index_titulo{
        color: rgb(61, 43, 226);
        font-size: 250%;
        text-decoration: underline;
    }
    .index_texto{
        width: 40%;

        a{
            text-decoration: none;
            color: black;
        }

    }
    .index_texto:hover{
        transition: 1s;
        transform: scale(1.12,1);
    }

    .index_titulo:hover{
        transition: 3s;
        transform: scale(1.2,1);
    }
    .index_tamañoDeImagen{
        height: 300px;
    }
    
}
/*====================================================================
    FALTA RESPONSIVE
====================================================================*/

/***********************************************************
                    RESISTENCIA
************************************************************/
.body_resistencia{
    background-color: $color_verde_claro;

    .main_resistencia{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

        .resistencia_seccion1{
            background-color: $color_seccion_1;
            margin-bottom: $tam_margin-bottom;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;
            }

        .resistencia_seccion2{
            text-align: center;
            background-color: $color_seccion_2;
            margin-bottom: $tam_margin-bottom;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;

            .resistencia_ItalicaCentrada{
                font-style: italic;
                text-align: center;
                margin-bottom: 25px;
            }
            .resistencia_formula{
                color:rgba(2, 0, 0, 0.801);
                font-size: 160%;
                border:1px dotted #000; 
            }
            .resistencia_centrar{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: circle;
                margin-top: 25px;
            }
            .resistencia_juntar{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 3%;
                padding-bottom: 3%;

                .resistencia_imagen{
                    width: auto;
                    height: 300px;
                }
            }
        }

        .resistencia_seccion3{
            height: 1200px;
            display: flex;     
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            background-color: $color_seccion_1;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;
            margin-bottom: $tam_margin_bottom;

            
            .resistencia_resducirImagen1{
                height: 450px;
                width: auto;
                margin-left: 18%;
            }
            .resistencia_lista{
                font-size: 130%;
            }
           

           .ejemplo{
                font-size: 200%;
           }    

            .resistencia_resducirImagen2{
                height: 150px;
                width: auto;
                padding-left: 50px;
            }
           

        }
        .resistencia_seccion4{
            display: flex;
            justify-content: center;   
            background: $color_seccion_2;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;

            .resistencia_tabla{
                margin-bottom: 7%;   
            }
            td{
                margin: 3px;
                padding: 3px;
                text-align: center;
                color: dimgray;
            }
        }
    }
}
/*====================================================================
    FALTA RESPONSIVE
====================================================================*/

/***********************************************************
                    DIODOS
************************************************************/
.body_diodo{
    background-color: $color_celeste;
    .main_diodo{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        .diodos_seccion1{
            background-color: $color_seccion_2;
            margin-bottom: $tam_margin-bottom;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;
        }

        .diodos_seccion2{
            text-align: center;
            .diodo_color1{
                background-color: $color_seccion_1;
                margin-bottom: $tam_margin-bottom;
                margin-left: $tam_margin-left;
                margin-right: $tam_margin-right;
                padding: $tam_padding;
            }
            .diodo_color2{
                background-color: $color_seccion_2;
                margin-bottom: $tam_margin-bottom;
                margin-left: $tam_margin-left;
                margin-right: $tam_margin-right;
                padding: $tam_padding;

                .diodos_lista1{
                    margin-top: 1%;
                    text-align: left;
                    display: inline-block;
                    font-size: 130%;
                    margin-bottom: 3%;
                    ol a{
                    text-decoration: none;
                    color: black;
                }
                ol a:hover{
                    color: blue;
                    text-decoration: underline;
                }
                .diodo_lista1Gris:hover{
                    color: gray;
                }
                }
            }
        }
        .diodos_seccion3{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            .diodo_color1{
                background-color: $color_seccion_1;
                margin-bottom: $tam_margin-bottom;
                margin-left: $tam_margin-left;
                margin-right: $tam_margin-right;
                padding: $tam_padding;
                .diodo_tituloh4{
                    font-size: 1.5em;
                    text-align: center;
                    color:royalblue;
                }
                 .diodo_dividir{
                     height: 400px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    .diodo_parrafo{
                        width: 60%;
                    }
                }
                .diodo_dividir2{
                    height: 900px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 10%;
                    .diodo_centrar{
                        font-size: 120%;
                        margin-top: 5%;
                        text-align: center;
                    }

                }
            }            
        }
    }

}

/*====================================================================
    FALTA RESPONSIVE
====================================================================*/

/***********************************************************
                    CAPACITORES
************************************************************/
.body_capacitor{
    background-color: $color_verde_claro;
    .main_capacitor{
        text-align: center;
        margin-bottom: 5%;
        .capacitor_fondo1{
            background-color: $color_seccion_1;
            margin-bottom: $tam_margin-bottom;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;
            .capacitor_imagen{
                margin-top: 1.5%;
                margin-bottom: 1%;
            }
        }
        .capacitor_fondo2{
            background-color: $color_seccion_2;
            margin-bottom: $tam_margin-bottom;
            margin-left: $tam_margin-left;
            margin-right: $tam_margin-right;
            padding: $tam_padding;
            .capacitor_lista{
                font-size: 110%;
                color: rgb(27, 26, 26);
                text-align: left;
                display: inline-block;
                line-height: 1.75em;
                margin-bottom: 2%;
            }
        }
    }

}

/*====================================================================
    FALTA RESPONSIVE
====================================================================*/

/***********************************************************
                TRANSISTORES
************************************************************/

.body_transitores{
    background-color: #84C3BE;
    .main_transistores{
        text-align: center;
        .transistor_seccion{
            margin-bottom: 3%;
            .transistor_fondo1{
                background-color: $color_seccion_2;
                margin-bottom: $tam_margin-bottom;
                margin-left: $tam_margin-left;
                margin-right: $tam_margin-right;
                padding: $tam_padding;
                .transistor_lista{
                    list-style: none;
                }
            }
            .transistor_fondo2{
                background-color: $color_seccion_1;
                margin-bottom: $tam_margin-bottom;
                margin-left: $tam_margin-left;
                margin-right: $tam_margin-right;
                padding: $tam_padding;
                .agrandarImagen{
                    margin-top: 25px;
                    margin-bottom: 25px;
                    height: 33vh;
                    width: auto;
                }
            }

        }
        .transistor_h3{
            padding: 2%;
            text-decoration: underline;
        }
    }

}