/*VOY A HACER TODO CON SASS*/
*{
    margin: 0;
    padding: 0;
}


@import "variables";

 /* EXTENDS */

.index_hijos{
        display: flex;  
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        text-decoration: none;
        color: black;
}
.secciones{
    text-align: center;
    background-image: linear-gradient( 315deg, #42ff42, #ffcb60);
    margin-left: 18%;
    margin-bottom: 5%;
    margin-right: 15%;
    padding: 1%;
    border-radius: 25px;
}
/*GENERAL*/
body{
   font-family: 'Roboto', sans-serif;   
}
h1{
    color: black;
    text-align: center;
    font-size: 400%;
    background-image: linear-gradient(to bottom, white , gray);
    padding-top: 0vh;
    margin-bottom: 5%;
}
h2{
    color:black;
    text-align: center;
    font-size: 250%;
}
h3{
    font-size: 180%;
    text-align: center;
}
p{
    font-size: 130%; 
    text-align: justify;
}
.cursiva{
   font-family: 'MonteCarlo', cursive;
}
/*************************************************************
                    HEADER INDEX
*************************************************************/

.nav_padreFlex{ 
    height: 30vh;
    display: grid;
    grid-template-areas: 
    "logo enlace"
    "fondo fondo";
    background-image: linear-gradient(to top, white , gray); 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70vh;
    .nav_hijo1_enlace{
        grid-area: enlace;
        height: 150px;
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 65%;
        margin-left: 5%;
        height: 30vh;
        
        li a{
            text-decoration: none;
            color: rgb(48, 46, 46);
            font-family: fantasy;
            font-size: 175%;
            padding: 5px;
            }
        li a:hover{
            color: gray;
            text-decoration: underline;
            background-color: rgb(212, 212, 212);
            }
            
    }
    .nav_hijo2_logo{
        grid-area: logo;
        line-height: 70px; 
        color: black;
        height: 170px;
        width: 340px;
        padding-left: 25px;
        padding-top: 7,5px;
        font-size: 300%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #d9e4f5 20%, #f5e3e6 84%);
        display: flex;
        align-items: center;
    }

    /*ANIMACIOM*/
    .nav_hijo2_logo{  
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }
    @keyframes logo {
    20% {
        color: red;
        }
    40%{
        color: #ff7e00;
        }
    60%{
        color: green;
        }
    80%{
        color: blue;
        }
    100% {
        color: black;
        }
    }
    .nav_hijo3_fondo{
        grid-area: fondo;
        background-image: url(../../imagenes/fondos/fondo.png);
        height: 70vh;
        background-size: cover;
        width: 100%;
        .nav_cont_icono{
            text-align: center;
            height: 200px;
            width: 200px;
            padding-top: 40vh;
            padding-left: 35%;
            .nav_icono_fondo{
                //padding-top: 40vh;
                //margin-left: 50%;
                color: blue;
                background-color: rgba(142, 150, 147,0.8 );
                border-radius: 50%;
                animation-name: icono;
                animation-duration: 4s;
                animation-iteration-count: infinite;
            }    
        }
    }
    @keyframes icono {
    0% {
        margin-top: 0px;
        }
    50% {
        margin-top: 50px;
        }
    100%{
        margin-top: 0px;
    }
    }
    
}
/************************************************************
               HEADER OTRAS PAGINAS
************************************************************/

.nav_conteiner{    
    width: 100%;
    height: 10vh;
   

    display: flex;
    background-image: linear-gradient(to top, white , gray);
    flex-direction: row;
    /*enlaces*/
    .nav_hijo1{
        
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-right: 10px;
        padding-top: 15px;
        li a{
            text-decoration: none;
            color: rgb(48, 46, 46);
            font-family: fantasy;
            font-size: 150%;
            padding: 5px;
            }

        li a:hover{
            color: gray;
            text-decoration: underline;
            background-color: rgb(212, 212, 212);
        }
    }

    /*logo*/
    .nav_hijo2{ 
        line-height: 70px; 
        color: black;
        margin-top: 8vh;
        height: 170px;
        width: 340px;
        padding-left: 25px;
        padding-top: 7,5px;
        padding-bottom: 7,5px;
        font-size: 300%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #d9e4f5 20%, #f5e3e6 84%);    
        display: flex;
        align-items: center;      
    }
    .nav_hijo2{
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }
}
/**************************************************************
                   FOOTER
**************************************************************/
#footer{
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid 2px black;
    background-image: linear-gradient(to bottom, gray ,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding-left: 5%; 
    .footer_hijo1{  
        
        p{
            color: orange;
            text-decoration: underline;
            font-size: 160%;   
        }
        .footer_acomodar{
            margin-bottom: -7px;
            margin-left: 30px;
        }
        ul{       
            list-style: none;
            list-style-position: outside;
            padding: 5px;
            a{
                list-style: none;  
                text-decoration: none;
                color: pink;
                font-size: 120%;
            }
            a:hover{
                text-decoration: underline;
                background:  rgb(219, 21, 54);
                font-size: 120%;
            }
        }
    }
    
    .footer_hijo2{
        line-height: 70px; 
        color: black;
        height: 180px;
        width: 375px;
        padding-left: 50px;
        padding-top: 15px;
        font-size: 270%;
        background-color: rgb(233, 229, 229);
        border: solid red 5px;
        background-image: linear-gradient(315deg, #9fb7da 20%, #ecd0d6 84%);

        /*animacion*/
        animation-duration: 10s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }
/*===========================================================
    Ver si lo cambio por los iconso que cambia de color.            
===========================================================*/
    .footer_hijo3{
        color: rgb(201, 190, 190);
        .footer_centrado{
            text-align: center;
            text-decoration: underline;
            font-size: 170%;
            padding-bottom: 2%;
        }
        .footer_reducirTamaño{
            height: 70px;
        }
        .acomodar_res{
        display: flex;
        flex-direction: row;
        }
    }
}
/***********************************************************
                        INDEX
************************************************************/
.index_padre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .index_hijo1{
        background-color: $color_verde_claro;
        @extend .index_hijos;
        flex-wrap: wrap;

        flex-direction: row;
        .index_imagenRedonda{
            border-radius: 50%;
        }
        .index_imagenRedonda:hover{
            animation-name: cuadrado;
            animation-duration: 4s;
            animation-timing-function: linear;
        }
        @keyframes cuadrado{
        0%{
            border-radius: 50%;}
        50%{
            border-radius: 0%;}
        100%{
            border-radius: 50%;}
        } 
    }
    .index_hijo2{
        background-color: $color_celeste;
        @extend .index_hijos;
        flex-wrap: wrap;

        flex-direction: row-reverse;
        .index_imagenCuadrada:hover{
            animation-name: rotar;
            animation-duration: 2.5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        @keyframes rotar {
        0%{
            transform: rotate(0deg);}
        50%{
            transform: rotateZ(8deg);}
        100%{
            transform: rotateZ(0deg);}
        }
    }
    .index_hijo3{
        background-color: $color_verde_claro;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
        flex-wrap: wrap;
        .index_negrita{
            font-size: 250%;
            font-weight: bold;
            text-align: center;
        }
        /*Lo saque de internet*/
        form{
        padding: 60px;
        max-width: 400px;
        background-color: #E7E7E7;
            input, textarea{
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; 
            border: none; 
            color: #525c66; 
            font-size: 1em;
            resize: horizontal; 
            }
            button {
                display: block;
                background-color: #0095eb;
                padding: 10px 40px 10px 40px;
                border: 0;
                font-size: 1em; 
                color: 	white;
            }
            button:hover{
                background-color: #046193;
            }
        }
    }
    .index_titulo{
        color: rgb(61, 43, 226);
        font-size: 250%;
        text-decoration: underline;
    }
    .index_texto{
        width: 40%;

        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: rgb(66, 66, 66);
        }
    }
    .index_texto:hover{
        transition: 3s;
        transform: scale(1.05,1);
    }
    
    .index_tamañoDeImagen{
        height: 300px;
    }
}
/***********************************************************
                    RESISTENCIA
************************************************************/
.body_resistencia{
    background-image: linear-gradient( 315deg,cyan, #00AAE4);
    .main_resistencia{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
        .secciones{
            .resistencia_ItalicaCentrada{
                font-style: italic;
                text-align: center;
                margin-bottom: 25px;
            }
            .resistencia_formula{
                color:rgba(2, 0, 0, 0.801);
                font-size: 160%;
                border:1px dotted #000; 
            }
            .resistencia_centrar{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: circle;
                margin-top: 25px;
            }
            .resistencia_juntar{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 3%;
                padding-bottom: 3%;

                .resistencia_imagen{
                    height: 300px;
                    width: auto;
                }
            }
        }
        .resistencia_seccion3{
            @extend .secciones;
            height: 1450px;
            display: flex;     
            flex-direction: column; 
            justify-content: space-around;
            align-items: center;
            ol{
               text-align: left;
               padding-top: 1%;
               font-size: 130%;
            }
            .resistencia_resducirImagen1{
                height: 43vh;
                width: auto;
                
            }
           .ejemplo{
                margin-top: -25px;
                font-size: 200%;
           }    
            .resistencia_resducirImagen2{
                height: 25vh;
                width: auto;
                margin-left: -1%;
            }
            
        }
        .resistencia_seccion4{
            @extend .secciones;
            display: flex;
            justify-content: center;   
            font-size: 110%;

            .resistencia_tabla{
                margin-bottom: 7%;   
            }
            td{
                margin: 3px;
                padding: 3px;
                text-align: center;
                color: dimgray;
            }
        }
    }
}
/***********************************************************
                    DIODOS
************************************************************/
.body_diodo{
    background-image: linear-gradient( 315deg,cyan, #00AAE4);
    .main_diodo{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        .secciones{
                .diodos_lista1{
                    text-align: left;
                    display: inline-block;
                    font-size: 130%;
                    ol a{
                    text-decoration: none;
                    color: black;
                }
                ol a:hover{
                    color: blue;
                    text-decoration: underline;
                }
                .diodo_lista1Gris:hover{
                    color: gray;
                }
                .diodos_imagen2{
                    height: 300px;
                    width: auto;
                }
            }
        }

        .diodos_seccion3{
            
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            
            .secciones{
                .diodo_tituloh4{
                    font-size: 1.5em;
                    text-align: center;
                    color:royalblue;
                }
                 .diodo_dividir{   
                    height: 400px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .diodo_parrafo{
                        width: 65%;
                    }
                }
                .diodo_dividir2{
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    .distancia{
                        margin-top: 3%;
                        margin-bottom: 3%;
                    }
                    .diodo_centrar{
                        font-size: 120%;
                        margin-top: 5%;
                        text-align: center;
                    }
                }
            }            
        }
    }
}
/***********************************************************
                    CAPACITORES
************************************************************/
.body_capacitor{
    background-image: linear-gradient( 315deg,cyan, #00AAE4);
    .main_capacitor{
        text-align: center;
        margin-bottom: 5%;
        .secciones{
            .capacitor_imagen{
                margin-top: 1.5%;
                margin-bottom: 1%;
            }
        }
        .secciones{
            .capacitor_lista{
                font-size: 110%;
                color: rgb(27, 26, 26);
                text-align: left;
                display: inline-block;
                line-height: 1.75em;
                margin-bottom: 2%;
            }
        }
    }
}
/***********************************************************
                TRANSISTORES
************************************************************/
.body_transitores{
    background-image: linear-gradient( 315deg,cyan, #00AAE4);
    .main_transistores{
        .transistor_seccion{
            margin-bottom: 3%;
            .secciones{
                .transistor_lista{
                    list-style: none;
                }
                .agrandarImagen{
                    margin-top: 25px;
                    margin-bottom: 25px;
                    height: 33vh;
                    width: auto;
                }
            }
        }
        .transistor_h3{
            padding: 2%;
            text-decoration: underline;
        }
    }

}

@import "responsive";

